body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}

.App {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "header"
    "main"

}

header {
  background: url('/images/jonatan-pie-226805-unsplash_mini.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  grid-area: header;
  height: 100vh;
  text-align: center;
}

main {
    grid-area: main;

}

.user-profile-img {
    border-radius: 50%;
}

.photo-list {
    display: grid;
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}

.tile {
    background-color: #FFF;
    overflow: hidden;
}

.post-img img {
    height: 100%;
    width: 100%;
}


/* =====================================
   Media Queries
======================================== */

@media (min-width: 768px) {

    .App {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            "main main main"
    }

    .photo-list {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
        width: 80%;
    }

}

@media (min-width: 992px) {

    .App {
      grid-template-areas:
            "header header header"
            "main main main"
    }

    .photo-list {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
    }
}
