* {
	box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}

header,
.nav-outer,
.nav-inner {
    display: flex;
    flex-direction: column;
}

.photo-list {
    font-family: 'Raleway', sans-serif;
    width: 95%;
    margin: 20px auto;
    max-width: 1085px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr); */
}

header {
    background: url('/images/jonatan-pie-226805-unsplash_mini.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    text-align: center;
}

.overlay {
    background: linear-gradient(to bottom, #151519 0%,rgba(21,21,25,0.9) 15%,rgba(21,21,25,0.7) 30%,rgba(21,21,25,0.6) 40%,rgba(21,21,25,0.5) 50%,rgba(21,21,25,0.4) 60%,rgba(21,21,25,0.3) 70%,rgba(21,21,25,0.2) 80%,rgba(21,21,25,0.1) 85%,rgba(21,21,25,0) 98%);
    height: 130px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 3;
}

.nav-outer {
    color: #fff;
    justify-content: space-between;
    padding: 2em;
    z-index: 4;
}

.nav-inner {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding-left: 0;
    text-transform: uppercase;
    width: 100%;
}

ul li {
    list-style-type: none;
}

li a {
    color: #fff;
    padding: 0 .4em;
}

.splash {
    font-size: 30px;
    line-height: 60px;

}

.user-info {
    align-items: center;
    display: inline-flex;
    padding: 10px;
    position: relative;
}

.user-img {
    margin-right: 10px;
    max-width: 100%;
}

.user-profile-img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

a {
    text-decoration: none;
}

.tile {
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 1em);
    min-height: 330px;
    overflow: hidden;
    position: relative;
}

.post-img {
    background-position: center center;
    background-size: cover;
    height: 230px;
    width: 100%;
}

.post-content {
    padding: 10px;
}

.post-info {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 13px;
    position: absolute;
    width: 100%;
}

/* =====================================
   Media Queries
======================================== */

@media (min-width: 769px) {

    .nav-outer,
    .nav-inner {
        display: flex;
    }

    .nav-outer {
        align-items: center;
        justify-content: flex-end;
    }

    .nav-inner {
        flex-direction: row;
        justify-content: flex-end;
        padding-left: 0;
    }

}

@media (min-width: 1025px) {

    .nav-outer {
        flex-direction: row;
        justify-content: space-between;
    }

}
