body {
    background-color: #F8F8F8;
}

header {
    background: url('/images/jonatan-pie-226805-unsplash_mini.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.user-profile-img {
    border-radius: 50%;
}

main {
    text-align: center;
}

.photo-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 800px;
}

.tile {
    background-color: #FFF;
    overflow: hidden;
}

.post-img img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}
